section {
    display: flex;
    flex-direction: column;

    h2 {
        display: flex;
        font-size: var(--large-text-size);
        font-weight: 500;
        color: var(--primary-color);
        text-align: center;
        padding-top: 8px;
    }

    form {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}