.list-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
    background-color: var(--secondary-darker-color);

    header {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        
        .top-header-section {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            h2 {
                display: flex;
                height: 30px;
                align-items: center;
                font-size: var(--large-text-size);
                color: var(--primary-color);
                font-weight: 500;
            }
    
            .add-container {
                display: flex;
                width: auto;
                .add-todo-button {
                    display: flex;
                    width: 100%;
                    .mat-mdc-unelevated-button {
                        border-radius: 4px!important;
                    }
                }
            }
        }

        ::ng-deep .todo-list-menu-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between; 
            column-gap: 10px;
            flex-wrap: wrap;         
    
            .todo-search-container {
                display: flex;
                width: 150px;

                .mat-mdc-form-field-flex{
                    height: 36px!important;
                }
                .mat-mdc-text-field-wrapper {
                    height: 36px!important;
                    border-radius: 4px;
                }
                .mat-mdc-form-field-infix {
                    padding: 0!important;
                }
                .mat-mdc-input-element {
                    height: 36px!important;
                }
            }
    
            .todo-state-selector-container {
                display: flex;
                width: 150px;

                .mat-mdc-select-value-text, .mat-mdc-select-arrow {
                    color: var(--secondary-color)!important;
                }
                .mat-mdc-text-field-wrapper {
                    border-radius: 4px;
                    height: 36px!important;
                    background-color: var(--primary-color)!important;
                    .mat-mdc-form-field-infix {
                        padding-block: 0!important;
                        .mat-mdc-select-trigger {
                            height: 36px!important;
                        }
                    }
                }
            }
        } 
    }

    main {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    
}

